.header {
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    color: rgb(245, 200, 0);
    padding: 1rem;
}

/* 商品一覧ページ用 */
.product-lists {
    width: 95%;
    margin: 0 auto;
    padding: 4rem 0;
}

.product-lists__ttl {
    font-size: 32px;
}

.product-lists__link {
    font-size: 20px;
    font-weight: bold;
    background: rgb(255, 169, 41);
    color: #111;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    text-decoration: none;
}

.product-lists__link:hover {
    background-color: rgb(223, 148, 37);
}

.product-lists__grid {
    display: grid;
    grid-template-columns: 280px 1fr;
    margin: 1.5rem 0;
    gap: 1.5rem;
}

.product-lists__search {
    width: 100%;
}

.product-lists__search__form--input,
.product-lists__search__form--btn,
.product-lists__search__form--pull-down select {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
}

.product-lists__search__form--input::placeholder {
    color: rgb(192, 191, 190) ;
}

.product-lists__search__form--input {
    margin-bottom: 1em;
    border: 2px solid rgb(231,231,230) ;
    border-radius: 30px;
}

.product-lists__search__form--btn {
    margin-bottom: 2rem;
    font-weight: bold;
    background: rgb(245, 200, 0);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.product-lists__search__form--btn:hover {
    background-color: #e6b800;
}

.product-lists__search__form--span {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

.product-lists__search__form--pull-down {
    position: relative;
}

.product-lists__search__form--pull-down select {
    color: #ccc;
    background: #fff;
    border: 2px solid rgb(231,231,230) ;
    border-radius: 5px;
    width: 100%;
    padding: 1rem .5rem;
    font-size: 16px;
    appearance: none;
    background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"><polygon points="70,100 100,40 40,40" fill="rgb(190,177,167)"/></svg>') no-repeat right 10px center;
    background-size: 24px;
    cursor: pointer;
}

.product-lists__search__form--pull-down select:focus {
    background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"><polygon points="70,40 100,100 40,100" fill="rgb(190,177,167)"/></svg>') no-repeat right 10px center;
    background-size: 24px;
    color: #111;
}

.product-lists__search__form--reset {
    height: 60px;
    border-bottom: 2px solid rgb(231,231,230);
}

.product-lists__search__form--reset-btn {
    width: 140px;
    margin-top: 1em;
    padding: .5em 0;
    border: 2px solid rgb(245, 200, 0);
    background-color: rgb(255,255,255);
    border-radius: 30px;
    font-size: 16px;
}

.product-lists__search__form--reset-btn-txt {
    border: none;
    width: 100px;
    margin-left: 12px;
}

.product-lists__search__form--reset-btn-close {
    background-color: rgb(255,255,255);
    color: rgb(245, 200, 0);
    border: none;
    cursor: pointer;
}

.product-lists__card__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.product-card {
    background-color: rgb(255,255,255);
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
}

.product-card__link {
    text-decoration: none;
    color: #111;
}

.product-card__img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.product-card__img:hover {
    opacity: 0.8;
}

.product-card__detail {
    padding: 1rem;
    font-size: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background: #fff;
    font-size: 24px;
    color: #111;
}

.pagination li:not(.active):hover {
    background: rgb(224,223,222);
}

.pagination a {
    color: #111;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background:  rgb(245, 200, 0);
    font-size: 20px;
    color: #fff;
}

.pagination > * + * {
    margin-left: 8px;
}

.pagination li.disabled span {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background-color:rgb(248,248,248);
    color: rgb(248,248,248);
}

/* 商品詳細ページ */
.detail {
    width: 800px;
    margin: 0 auto;
    padding: 4rem 0 2rem;
    position: relative;
}

.detail__ttl {
    margin-bottom: 1rem;
}

.detail__btn-back {
    text-decoration: none;
    color: rgb(111,184,252);
    font-weight: bold;
}

.detail__input {
    width: 350px;
}

.detail__btn-delete {
    cursor: pointer;
    border: none;
    font-size: 30px;
    color: rgb(248,21,26);
    position: absolute;
    bottom:40px;
    right: 10px;
}

/* 商品詳細ページ、新規登録ページ共通 */
.form__input-file {
    margin-top: .75rem;
}

.form__input-field,
.form__input-field--textarea {
    width: 100%;
    margin-top: .75rem;
    padding: .75rem .5rem;
    border-radius: 5px;
    border: 2px solid rgb(231,231,230) ;
}

.form__input-field::placeholder,
.form__input-field--textarea::placeholder {
    color: rgb(192, 191, 190) ;
}

.form__input-field {
    font-size: 16px;
}

.form__input-field--textarea {
    font-size: 14px;
}

.form__checkbox--group {
    margin-top: .75rem;
}

.form__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(73,73,73);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.form__checkbox:checked {
    background-color: rgb(73,73,73);
}

.form__checkbox:checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: relative;
    top: -2px;
    left: 4px;
}

.form__checkbox--label {
    margin-left: .5rem;
    margin-right: 2.5rem;
}

.form__btn-back {
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    padding: 1rem 3rem;
    color: #111;
    background-color: rgb(224,223,222);
    margin-right: 1rem;
}

.form__btn-back:hover {
    background-color: rgb(192, 191, 190);
}

.form__btn-submit {
    font-size: 16px;
    font-weight: bold;
    background: rgb(245, 200, 0);
    border-radius: 3px;
    padding: .75rem 3rem;
    cursor: pointer;
    border: none;
}

.form__btn-submit:hover {
    background-color: rgb(221, 180, 0);
}

/* 新規登録ページ */
.register {
    width: 800px;
    margin: 0 auto;
    padding: 4rem 0 2rem;
}

.register__ttl {
    font-size: 28px;
    margin-bottom: 3rem;
}

.required {
    background-color: rgb(248,21,26);
    color: rgb(224,223,222);
    padding: 2px 4px;
    font-size: 12px;
    margin-left: .5rem;
}

.register__input,
.register__description--textarea {
    width: 100%;
    margin-top: .5rem;
    padding: .75rem .5rem;
    border: 2px solid rgb(231,231,230) ;
}

.register__span {
    font-size: 12px;
    color: rgb(248,21,26);
    font-weight: bold;
}

.register__checkbox {
    margin-top: .5rem;
}

