.header {
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    color: rgb(245, 200, 0);
    padding: 1rem;
}

/* 商品一覧ページ用 */
.product-lists {
    width: 95%;
    margin: 0 auto;
    padding: 4rem 0;
}

.product-lists__ttl {
    font-size: 32px;
}

.product-lists__link {
    font-size: 20px;
    font-weight: bold;
    background: rgb(245, 200, 0);
    color: #111;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    text-decoration: none;
}

.product-lists__link:hover {
    background-color: #e6b800;
}

.product-lists__grid {
    display: grid;
    grid-template-columns: 280px 1fr;
    margin: 1.5rem 0;
    gap: 1.5rem;
}

.product-lists__search {
    width: 100%;
}

.product-lists__search__form--input,
.product-lists__search__form--btn,
.product-lists__search__form--pull-down select {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
}

.product-lists__search__form--input {
    margin-bottom: 1em;
    border: 2px solid rgb(231,231,230) ;
    border-radius: 30px;
}

.product-lists__search__form--btn {
    margin-bottom: 2rem;
    font-weight: bold;
    background: rgb(245, 200, 0);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.product-lists__search__form--btn:hover {
    background-color: #e6b800;
}

.product-lists__search__form--span {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

.product-lists__search__form--pull-down {
    position: relative;
}

.product-lists__search__form--pull-down select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid rgb(231,231,230) ;
    border-radius: 5px;
}

.product-lists__search__form--pull-down::after {
    content: "▼";
    position: absolute;
    left: 240px;
    top: 20px;
    pointer-events: none;
    color:rgb(190,177,167);
}

.product-lists__search__form--reset {
    height: 60px;
    border-bottom: 2px solid rgb(231,231,230);
}

.product-lists__search__form--reset-btn {
    width: 140px;
    margin-top: 1em;
    padding: .5em 0;
    border: 2px solid rgb(245, 200, 0);
    background-color: rgb(255,255,255);
    border-radius: 30px;
    font-size: 16px;
}

.product-lists__search__form--reset-btn-txt {
    border: none;
    width: 100px;
    margin-left: 12px;
}

.product-lists__search__form--reset-btn-close {
    background-color: rgb(255,255,255);
    color: rgb(245, 200, 0);
    border: none;
    cursor: pointer;
}

.product-lists__card__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.product-card {
    background-color: rgb(255,255,255);
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
}

.product-card__link {
    text-decoration: none;
    color: #111;
}

.product-card__img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card__detail {
    padding: 1rem;
    font-size: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background: #fff;
    font-size: 24px;
    color: #111;
}

.pagination a {
    color: #111;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background:  rgb(245, 200, 0);
    font-size: 20px;
    color: #fff;
}

.pagination > * + * {
    margin-left: 8px;
}

/* 商品詳細ページ */
.detail {
    width: 800px;
    margin: 0 auto;
    padding: 4rem 0 2rem;
    position: relative;
}

.detail__ttl {
    margin-bottom: 1rem;
}

.detail__link {
    text-decoration: none;
    color: rgb(111,184,252);
    font-weight: bold;
}

.detail__input--file {
    margin-top: 1rem;
}

.detail__input {
    width: 350px;
}

.detail__label {
    margin-bottom: 1rem;
}

.detail__input--text {
    height: 120px;
}

.detail__input--text input {
    padding: 1rem .5rem;
    border-radius: 5px;
    border: 2px solid rgb(231,231,230) ;
    font-size: 16px;
}

.detail__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(73,73,73);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.detail__checkbox:checked {
    background-color: rgb(73,73,73);
}

.detail__checkbox:checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: relative;
    top: -2px;
    left: 4px;
}

.detail__checkbox--label {
    margin-left: .5rem;
    margin-right: 2.5rem;
}

.detail__description {
    margin: 2rem 0;
}

.detail__description--textarea {
    font-size: 14px;
    padding: 4px;
    border-radius: 5px;
    border: 2px solid rgb(231,231,230) ;
}

.detail__back--link {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    padding: 1rem 3rem;
    color: #111;
    background-color: rgb(224,223,222);
    margin-right: 1rem;
}

.detail__back--link:hover {
    background-color: rgb(192, 191, 190);
}

.detail__form--btn {
    font-size: 16px;
    font-weight: bold;
    background: rgb(245, 200, 0);
    border-radius: 3px;
    padding: .75rem 3rem;
    cursor: pointer;
    border: none;
}

.detail__form--btn:hover {
    background-color: rgb(221, 180, 0);
}

.detail__delete-btn {
    cursor: pointer;
    border: none;
    position: absolute;
    font-size: 30px;
    color: red;
    bottom:40px;
    right: 10px;
}
