* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 共通 */
#app {
    background-color: rgb(248, 248, 248);
    width: 100vw;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック",
        "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo,
        "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

input, textarea, select:focus {
    outline: none;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
    gap: 28px;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.error {
    margin-top: 5px;
    height: 2rem;
    text-align: left;
    color: #ed1a3d;
    font-size: 14px;
}

.flash_message{
    text-align: center;
    background-color:rgb(111,184,252);
    padding: .25rem 0;
    color: #fff;
}
